<%- include("../includes/head.ejs") %> 
    <%- include("../includes/navigation.ejs") %>
    <main>
            <form action="/signup" method="POST" class="add-book">
        
            <label for="username">Username</label>
            <input type="text" id="username" name="username" >

            <label for="password">Password</label>
            <input type="text" id="password" name="password" >

            <button type="submit" class="btn btn-add">Sign Up</button>
        </form>
    </main>
    
    
<%- include("../includes/end.ejs") %> 