<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="header">
        <nav class="main-navigation">
            <ul class="shop-navigation">
                <li><a href="#">Store</a></li>
                <li><a href="#">Cart</a></li>
                <li><a href="#">Orders</a></li>
            </ul>

            <ul class="auth-navigation">
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <ul class="product-list">
            <li class="product">
                <header class="product__header">
                    <h1 class="product__title">A book</h1>
                </header>
                <div class="product-image__container">
                    <img src="https://lh3.googleusercontent.com/proxy/z6vjRrNVv-VV2bgXfsKXrDxZD9iJMQzPbvObh4973l99WBgn6bojJQm-FE2lQzUPvUTu9wRVjQIW1y7IiSH5dmXUaJdqeK1rAtT2if0cDtgeyaBGNWHoEH85RyM9dSd8l0ZBYkAuPGXe7BO89LdP4CoqoSLanxBZrRug-MA" alt="">
                </div>
                <div class="product__content">
                    <p class="product__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam excepturi quas ratione fugiat molestiae aspernatur maiores, exercitationem eos natus libero.</p>
                </div>
            </li>
            <li class="product">
                <header class="product__header">
                    <h1 class="product__title">A book</h1>
                </header>
                <div class="product-image__container">
                    <img src="https://lh3.googleusercontent.com/proxy/z6vjRrNVv-VV2bgXfsKXrDxZD9iJMQzPbvObh4973l99WBgn6bojJQm-FE2lQzUPvUTu9wRVjQIW1y7IiSH5dmXUaJdqeK1rAtT2if0cDtgeyaBGNWHoEH85RyM9dSd8l0ZBYkAuPGXe7BO89LdP4CoqoSLanxBZrRug-MA" alt="">
                </div>
                <div class="product__content">
                    <p class="product__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam excepturi quas ratione fugiat molestiae aspernatur maiores, exercitationem eos natus libero.</p>
                </div>
            </li>
            <li class="product">
                <header class="product__header">
                    <h1 class="product__title">A book</h1>
                </header>
                <div class="product-image__container">
                    <img src="https://lh3.googleusercontent.com/proxy/z6vjRrNVv-VV2bgXfsKXrDxZD9iJMQzPbvObh4973l99WBgn6bojJQm-FE2lQzUPvUTu9wRVjQIW1y7IiSH5dmXUaJdqeK1rAtT2if0cDtgeyaBGNWHoEH85RyM9dSd8l0ZBYkAuPGXe7BO89LdP4CoqoSLanxBZrRug-MA" alt="">
                </div>
                <div class="product__content">
                    <p class="product__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam excepturi quas ratione fugiat molestiae aspernatur maiores, exercitationem eos natus libero.</p>
                </div>
            </li>
            <li class="book"></li>
        </ul>
    </main>
</body>
</html>