<%- include("../includes/head.ejs") %>
    <%- include("../includes/navigation.ejs") %>
    
    <main>
        <h1 style="text-align: center;margin-top: 2em;">This page doesn't exist</h1>
    </main>
<%- include("../includes/end.ejs") %> 